DATABASE_URL=postgresql://user:password@host:5432/database?sslmode=require
PORT=3001
CREATED_BY_USER_ID=z4ag8gb269hCCSJ2rhspeoC1VCS4HYhR
ROOM_ID=
ROOM_NAME=
BATCH_SIZE=20
TOKEN_EXPIRY_MINUTES=1
ROTATION_INTERVAL_MS=10000
